<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vizitky-nová vizitka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<div class="detail">
    <div class="vizitka">
        <form th:action="@{/nova}" method="post">
            <div class="jmeno">
                <label for="jmeno" class="form-label">Jméno</label>
                <input id="jmeno" name="jmeno" type="text"/>
            </div>
            <div class="firma">
                <label for="firma" class="form-label">Firma</label>
                <input id="firma" name="firma" type="text"/>
            </div>
            <div class="udaje">
                <div class="adresa">
                    <div>
                        <label for="ulice" class="form-label">Ulice</label>
                        <input id="ulice" name="ulice" type="text"/>
                    </div>
                    <div>
                        <label for="mesto">Město</label>
                        <input id="mesto" name="mesto" type="text"/>
                    </div>
                    <div>
                        <label for="psc">PSČ</label>
                        <input id="psc" name="obecPsc" type="text"/>
                    </div>
                </div>
                <div class="kontakty">
                    <div><i class="las la-at"></i>
                        <label for="email">E-mail</label>
                        <input id="email" name="email" type="text"/>
                    </div>
                    <div><i class="las la-phone-alt"></i>
                        <label for="phone">Tel.</label>
                        <input id="phone" name="telefon" type="text"/>
                    </div>
                    <div>
                        <i class="las la-globe"></i>
                        <label for="web">Web.</label>
                        <input id="web" name="web" type="text"/>

                    </div>
                </div>
            </div>
            <div>

                <button>Přidat vizitku</button>

            </div>
        </form>
    </div>
    </div>
</body>
</html>